@page "/teacher/course/{Id:guid}"
@using EduTrack.WebUI.Shared.Courses;
@using EduTrack.WebUI.Shared.Dtos.Courses
@layout PlainAdminLayout


@*
    <Buttons>
        <SfButton IconCss="fa-solid fa-plus" OnClick="@CreateCourseShowModal" CssClass="e-primary e-outline">Додати курс/роботи</SfButton>
    </Buttons>*@

<PlainAdminPageTitle Title="Керування курсом">
    <Breadcrumbs>
        <ETBreadcrumbItem Title="Панель керування" NavigationLink="/" />
        <ETBreadcrumbItem Title="Список курсів" NavigationLink="/teacher/courses" />
    </Breadcrumbs>
</PlainAdminPageTitle>

<div class="row">
    <div class="col-md-8">
        <PlainAdminCard>
            <CardBody>
                <EduTrackSpinner Type="EduTrackSpinner.EduTrackSpinnerType.Vertical"></EduTrackSpinner>
            </CardBody>
        </PlainAdminCard>
    </div>
    <div class="col-md-4">
        <PlainAdminCard>
            <CardBody>
                <SfTab CssClass="e-fill">
                    <TabAnimationSettings>
                        <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                        <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                    </TabAnimationSettings>
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Інформація" IconCss="fa-solid fa-calendar-days" IconPosition="left"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <_CourseGeneralEdit Id="@Id" />
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </CardBody>
        </PlainAdminCard>
    </div>
</div>
@code {





    [Parameter]
    public Guid Id { get; set; }
}
