@page "/zoom"
@using EduTrack.WebUI.Client.Extensions;

@inject HttpClient httpClient
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />


<p>Url: <strong>@ZoomAuthUrl</strong></p>
<br />

<button type="button" @onclick="@GetToken" class="btn btn-primary">Connect to Zoom</button>



@code {
    private string ZoomAuthUrl = "---";

    protected override async Task OnInitializedAsync()
    {
        ZoomAuthUrl = await httpClient.GetStringAsync($"/api/zoom/auth_url?client_url={httpClient.BaseAddress.ToString()}");
    }

    public async Task GetToken()
    {
        Navigation.NavigateTo(ZoomAuthUrl);

        //var response = await httpClient.GetAsync("/api/zoom/get_code");
        //   var r = await httpClient.GetAsync(queryUrl);
     //
        //Console.WriteLine($"response: {response.IsSuccessStatusCode}");
        // httpClient.DefaultRequestHeaders.Authorization
        //= new System.Net.Http.Headers.AuthenticationHeaderValue("Basic", "");


        //Console.WriteLine(response.Result.ToString();

    }
}



