@if (!string.IsNullOrEmpty(NavigationLink))
{
    <li class="breadcrumb-item">
        <a href="@NavigationLink">@Title</a>
    </li>
}
else
{
    <li class="breadcrumb-item active" aria-current="page">
        @Title
    </li>
}
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string NavigationLink { get; set; }
}
