<PageTitle>EduTrack - @Title</PageTitle>
<div class="title-wrapper pt-30">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="title d-flex align-items-center flex-wrap mb-30">
                <h3 class="mr-30">@Title</h3>
                @Buttons              
            </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
            @if (Breadcrumbs != null)
            {
                <div class="breadcrumb-wrapper mb-10">
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @Breadcrumbs
                    </ol>
                </nav>
            </div>
            }
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "-";

    [Parameter]
    public RenderFragment Breadcrumbs { get; set; }

    [Parameter]
    public RenderFragment Buttons { get; set; }
}
