<PageTitle>EduTrack - @Title</PageTitle>

<div class="title-wrapper pt-30 pb-1">
    <div class="row align-items-center">
        <div class="col-md-6 mb-10">
            <div class="title d-flex align-items-center flex-wrap mb-10">
                <h3 class="mr-30">@Title</h3>
                @Buttons              
            </div>
            @if (Breadcrumbs != null)
            {
                @Breadcrumbs            
            }
        </div>
        <!-- end col -->
        <div class="col-md-6">
              
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "-";

    [Parameter]
    public RenderFragment Breadcrumbs { get; set; }

    [Parameter]
    public RenderFragment Buttons { get; set; }
}
