@using EduTrack.WebUI.Client.Pages.Authentication
@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           <LoginLogoutComponent />
        </div>

        <article class="content px-4">      
           
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    @context.Message
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine("I am here!");
        Console.WriteLine("Check if user exists!");
        //var user = AuthStateProvider.;
        /*
        if (!user.Identity.IsAuthenticated)
        {
            Console.WriteLine("401");
            Navigation.NavigateTo("/login");
        }
          await LocalStorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        Navigation.NavigateTo("/login");

        */
    }
}
